@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-serif;
  }
  h1 {
    @apply text-5xl;
    @apply font-aldelphi;
    @apply font-black;
  }
  h2 {
    @apply font-serif;
  }
}

@layer components {
  .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  }
  .quote {
    font-style: italic;
    font-weight: 200;
    font-size: 50px;
  }
}
