@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply font-serif;
    @apply cursor-default;
  }
  h1 {
    @apply text-5xl;
    @apply font-adelphi;
    @apply font-black;
  }
  h2 {
    @apply font-adelphi;
  }
  h3 {
    @apply font-georgia;
  }
  a, button {
    @apply cursor-pointer;
  }
  span {
    @apply font-adelphi;
    @apply font-black;
  }
}

@layer components {
  .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  }
  .quote {
    font-style: italic;
    font-weight: 200;
  }
}
